<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.downloadui"
    android:versionCode="1"
    android:versionName="1.0" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    
    <application
        android:name="com.example.downlaodui.infodata.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
       	 <receiver android:name="com.example.downloadui.itemview.UIrefreshbroadcast">
            <intent-filter>
                <action android:name="tuijian"/>
                <action android:name="suiji"/>
                <action android:name="jixiechupin"/>
                <action android:name="liaotiantongxun"/>
                <action android:name="yingyinbofang"/>
                <action android:name="tuxingtuxiang"/>
                <action android:name="youxiyule"/>
                <action android:name="bianchengkaifa"/>
                <action android:name="wangluoruanjian"/>
                <action android:name="shiyongruanjian"/>
                <action android:name="caozuoxitong"/>
                <action android:name="xitonggongju"/>
                <action android:name="anquanxiangguang"/>
                <action android:name="search"/>
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.example.downloadui.managerView.Informbroadcast">
            <intent-filter>
                <action android:name="tuijianrefreshitem"/>
                <action android:name="classifyrefreshitem"/>
                <action android:name="suijirefreshitem"/>
                <action android:name="internectalert"/>
            </intent-filter>
        </receiver>
        
       <receiver android:name="com.example.downloadui.installApk.AppInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" /> 
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        
       <activity
            android:name="com.example.downloadui.MainActivity"
            android:label="@string/app_name" 
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            
        </activity>
        <activity android:name="com.example.downloadui.info.Infoactivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.downloadui.info.Downloadlineactivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.downloadui.info.Installrecordactiviy" android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.downloadui.info.Upgradeactivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.downloadui.Webactivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.downloadui.sidebar.Intro" android:screenOrientation="portrait"></activity>
		<service android:name="com.example.downloadui.jsonservic.JsonService" android:screenOrientation="portrait"></service>
        
    </application>
  <supports-screens
	 android:largeScreens="true"
	 android:xlargeScreens="true"
     android:normalScreens="true"
 	 android:anyDensity = "true"/>
</manifest>
